.navbar{
  height:72px;
  padding:0 50px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  background:linear-gradient(135deg,#020617,#0f172a);
  box-shadow:0 8px 30px rgba(0,0,0,.45);
}

.logo{
  color:#e5e7eb;
  font-size:22px;
  font-weight:700;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:32px;
}

.nav-links a{
  position:relative;
  text-decoration:none;
  color:#cbd5f5;
  font-size:15px;
  padding:8px 0;
  transition:.3s;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-10px;
  width:0%;
  height:3px;
  background:#38bdf8;
  border-radius:999px;
  transition:.35s;
}

.nav-links a:hover,
.nav-links a.active{
  color:#38bdf8;
}

.nav-links a:hover::after,
.nav-links a.active::after{
  width:100%;
}

.hero{
  min-height:calc(100vh - 72px);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;

  background:linear-gradient(135deg,#020617,#020617 60%,#0f172a);
  color:white;
}

.hero h1{
  font-size:48px;
  margin-bottom:15px;
  animation:fadeUp .7s ease;
}

.hero p{
  font-size:18px;
  opacity:.85;
  margin-bottom:30px;
  animation:fadeUp .9s ease;
}

.hero-buttons{
  display:flex;
  gap:20px;
}

/* BUTTONS */
.btn{
  padding:14px 28px;
  border-radius:999px;
  font-weight:600;
  text-decoration:none;
  transition:.3s;
}

.btn.primary{
  background:#38bdf8;
  color:#020617;
}

.btn.secondary{
  border:2px solid #38bdf8;
  color:#38bdf8;
}

.btn:hover{
  transform:translateY(-4px);
  box-shadow:0 12px 30px rgba(56,189,248,.4);
}

/* HERO ANIMATION */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
    